body{
  background-color: rgb(19, 18, 18);
  
  
}

.main{
  margin-left: 200px;
  
  
}

.main h1{
  color:white;
  margin-left:65px;
  margin-bottom: 20px;
}
.jumbotron{

text-align: center;
background-image: url(./components/assets/Queen.png);
background-repeat: no-repeat;
background-size:cover;
color:rgb(253, 250, 250);
box-shadow:  inset 0px -20px 30px 0px rgb(19, 18, 18);

}

.jumbotron .btn{
  width:130px;
  margin-right: 5px;
  border-radius: 30px;
  font-size: 13px;
}
.jumbotron a{
  text-decoration: none;
}
  
.wrapper {
width: 100%;
align-items: stretch;


}
#sidebar {
min-width: 200px;
max-width: 200px;
min-height: 92vh;
background: black;
color: #fff;
position:fixed;

}

.footerSB{
min-height: 40px;
position: absolute;
bottom: 0;
}  

.footerSB > a{
color:grey;
}

.footerSB > a:hover{
text-decoration: none;
color:#fff;
}


#sidebar .sidebar-header {
padding: 20px;

}

#sidebar ul.components {
padding: 20px 0;
;
}

#sidebar ul p {
color: #fff;
padding: 10px;
}

#sidebar ul li a {
padding: 10px;
font-size: 1.1em;
display: block;
}
#sidebar ul li a:hover {
color: rgba(241, 234, 234, 0.89);
text-decoration: none;

}

#sidebar ul li> a, a[aria-expanded="true"] {
color:grey;

}
ul ul a {
font-size: 0.9em !important;
padding-left: 30px !important;
}

.card-deck {
  height:180px;
  width:200px;
  
}

.card {
 
  text-align: center;
  background-color: rgb(19, 18, 18);
  color: white;
  
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text{
color:grey;
}



footer{
background-color: rgb(37, 37, 37);
position:fixed;
height:8vh;
left: 0;
bottom: 0;
width:100%;
}

.footer-small{
background-color: rgb(37, 37, 37);
text-align: center;
position:sticky;
left: 0;
bottom: 0;
max-width:100%;

}

footer .btn{
color:grey;
}
.container1{
justify-content: space-between;
font-size: 15px;
color:rgb(136, 136, 134);
}

.container1 img{
margin: 0;
position: relative;
top: 60%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 6px;
height: 6px;
border-radius: 50%;
background: white;
cursor: pointer;
}

.slider {
-webkit-appearance: none;
width: 100px;
height: 5px;
border-radius: 5px;
background: grey;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.jumbo-bottom {
padding-top:50px;
}

.btn-md{
background-color: transparent;
border:none;
overflow: hidden;
color:rgb(212, 208, 205);
font-weight:bold;
font-size: 14px;
outline:none !important;
}

.btn-sm{
background-color: transparent;
border:none;
color:grey;
outline:none !important;

}

.btn-md:hover{
color: white;
border-bottom: 3px solid green;
}

.dropdown-item{
color: grey;
text-align: left;
}


.dropdown-item:hover{
color:white;
background-color: transparent;
}
.p{
margin-top: 100px;
}

@media (max-width: 500px) {
#sidebar {
display: none;
}
}

.card:hover .infos-container {
opacity: 1;
transform: translateY(5px);
font-size: larger;
font-weight:bolder;
}
.card:hover img{
transform: scale(1.1);

}
.play-icon {
position: absolute;
color: white;
left: -200px;
bottom: 20px;
background-color: #4CAF50;
padding: 0.9rem;
width: 50px;
border-radius: 40px;
height: 50px;
transform: translateX(0);
opacity: 0;
transition: opacity 0.3s ease 0.3s, transform 0.4s ease 0.1s;
animation: ourGradient 4s ease infinite;
z-index: 3;
}
.card:hover .play-icon {
opacity: 1;
transform: translateX(calc(200px + 15px + 0.9rem));
}
.play-icon i {
position: relative;
left: 1px;
top: -1px;
}

@media (max-width: 500px) {
.main {
margin-left: 0;
}
}

@media (min-width: 501px) {
.jumbotron .btn-sm {
display: none;
}


}

@media (max-width: 400px) {
.main {
margin-left: 0;
}
}

@media (max-width: 600px) {
footer {
display:none;
}
}

@media (min-width: 400px) {
.footer-small {
display:none;
}
}

@media (max-width: 768px) {
#sidebar {
height:94vh !important;
}
}